<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1 курс</key>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>img</key>
		<string>1set.png</string>
		<key>recipes</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
		</array>
		<key>videos</key>
		<array/>
	</dict>
	<key>2 курс</key>
	<dict>
		<key>id</key>
		<integer>2</integer>
		<key>img</key>
		<string>2set.png</string>
		<key>recipes</key>
		<array>
			<integer>5</integer>
			<string>6</string>
			<string>7</string>
			<string>8</string>
		</array>
		<key>videos</key>
		<array/>
	</dict>
	<key>3 курс</key>
	<dict>
		<key>id</key>
		<integer>3</integer>
		<key>img</key>
		<string>3set.png</string>
		<key>recipes</key>
		<array>
			<integer>9</integer>
			<string>10</string>
			<string>11</string>
			<string>12</string>
		</array>
		<key>videos</key>
		<array/>
	</dict>
</dict>
</plist>
