<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>Тигровые креветки</string>
	<key>2</key>
	<string>Бекон</string>
	<key>3</key>
	<string>Фенхель</string>
	<key>4</key>
	<string>Молодой шпинат</string>
	<key>5</key>
	<string>Помидоры черри</string>
	<key>6</key>
	<string>Соль</string>
	<key>7</key>
	<string>Перец</string>
	<key>8</key>
	<string>Оливковое масло</string>
	<key>9</key>
	<string>Мука пшеничная</string>
	<key>10</key>
	<string>Яйца</string>
	<key>11</key>
	<string>Сливки 38%</string>
	<key>12</key>
	<string>Белые грибы</string>
	<key>13</key>
	<string>Пармезан</string>
	<key>14</key>
	<string>Лук шалот</string>
	<key>15</key>
	<string>Розмарин</string>
	<key>16</key>
	<string>Филе говядины</string>
	<key>17</key>
	<string>Бальзамический уксус</string>
	<key>18</key>
	<string>Красное вино сухое</string>
	<key>19</key>
	<string>Сахар тростниковый</string>
	<key>20</key>
	<string>Картофель очищенный</string>
	<key>21</key>
	<string>Тимьян</string>
	<key>22</key>
	<string>Сливочное масло</string>
	<key>23</key>
	<string>Сахар-песок</string>
	<key>24</key>
	<string>Миндаль</string>
	<key>25</key>
	<string>Ваниль</string>
	<key>26</key>
	<string>Сахар-песок для карамели</string>
	<key>27</key>
	<string>Осьминог</string>
	<key>28</key>
	<string>Картофель</string>
	<key>29</key>
	<string>Руккола</string>
	<key>30</key>
	<string>Базилик зеленый</string>
	<key>31</key>
	<string>Лимон</string>
	<key>32</key>
	<string>Чеснок</string>
	<key>33</key>
	<string>Картофель отварной</string>
	<key>34</key>
	<string>Мускатный орех</string>
	<key>35</key>
	<string>Пармезан</string>
	<key>36</key>
	<string>Белое вино сухое</string>
	<key>37</key>
	<string>Цукини</string>
	<key>38</key>
	<string>Спаржа</string>
	<key>39</key>
	<string>Дорадо</string>
	<key>40</key>
	<string>Перец красный</string>
	<key>41</key>
	<string>Перец желтый</string>
	<key>42</key>
	<string>Перец зеленый</string>
	<key>43</key>
	<string>Баклажан</string>
	<key>44</key>
	<string>Лук репчатый</string>
	<key>45</key>
	<string>Сахар</string>
	<key>46</key>
	<string>Желатин</string>
	<key>47</key>
	<string>Клубника</string>
	<key>48</key>
	<string>Мята</string>
	<key>49</key>
	<string>Моцарелла ди буффало</string>
	<key>50</key>
	<string>Помидоры очищенные</string>
	<key>51</key>
	<string>Филе тунца</string>
	<key>52</key>
	<string>Анчоусы</string>
	<key>53</key>
	<string>Каперсы</string>
	<key>54</key>
	<string>Маскарпоне</string>
	<key>55</key>
	<string>Печенье Савоярди</string>
	<key>56</key>
	<string>Кофе свежесваренный</string>
</dict>
</plist>
