<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>ingredsPhoto</key>
		<string>1_1_ingreds.jpg</string>
		<key>ingreds_order</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>5</integer>
			<integer>6</integer>
			<integer>7</integer>
			<integer>8</integer>
		</array>
		<key>ingredients</key>
		<dict>
			<key>1</key>
			<string>500 г</string>
			<key>2</key>
			<string>500 г</string>
			<key>3</key>
			<string>2 шт</string>
			<key>4</key>
			<string>200 г</string>
			<key>5</key>
			<string>500 г</string>
			<key>6</key>
			<string>По вкусу</string>
			<key>7</key>
			<string>По вкусу</string>
			<key>8</key>
			<string>40 г</string>
		</dict>
		<key>imgs</key>
		<array>
			<string>1_1_100.jpg</string>
			<string>1_1_1.jpg</string>
			<string>1_1_2.jpg</string>
			<string>1_1_3.jpg</string>
			<string>1_1_4.jpg</string>
			<string>1_1_5.jpg</string>
			<string>1_1_6.jpg</string>
			<string>1_1_7.jpg</string>
			<string>1_1_9.jpg</string>
			<string>1-креветки.png</string>
		</array>
		<key>manufacturer</key>
		<string>Our chief</string>
		<key>name</key>
		<string>Салат с хрустящими креветками, фенхелем и молодым шпинатом</string>
		<key>persons</key>
		<string>на 4 персоны</string>
		<key>steps</key>
		<array>
			<string>Очистить тигровые креветки без головы, оставив хвостики. Завернуть каждую креветку в ломтик бекона.</string>
			<string>Нарезать все помидоры черри на четвертинки.</string>
			<string>Очистить фенхель от верхних листьев.</string>
			<string>Натереть фенхель на мелкой терке длинной тонкой соломкой.</string>
			<string>Выложить на тарелку фенхель, помидоры черри и молодой шпинат, посолить и для большего аромата добавить свежемолотый черный перец.</string>
			<string>Обжарить креветки на оливковом масле до золотистого цвета.</string>
			<string>Выложить румяные креветки поверх шпината и полить оливковым маслом.</string>
		</array>
	</dict>
	<key>2</key>
	<dict>
		<key>ingredsPhoto</key>
		<string>1_2_ingreds.jpg</string>
		<key>ingreds_order</key>
		<array>
			<integer>9</integer>
			<integer>10</integer>
			<integer>11</integer>
			<integer>12</integer>
			<integer>13</integer>
			<integer>14</integer>
			<integer>15</integer>
			<integer>6</integer>
			<string>7</string>
			<string>8</string>
		</array>
		<key>ingredients</key>
		<dict>
			<key>9</key>
			<string>400 г</string>
			<key>10</key>
			<string>4 шт</string>
			<key>11</key>
			<string>500 мл</string>
			<key>12</key>
			<string>300 г</string>
			<key>13</key>
			<string>100 г</string>
			<key>14</key>
			<string>2 шт</string>
			<key>15</key>
			<string>1 веточка</string>
			<key>6</key>
			<string>По вкусу</string>
			<key>7</key>
			<string>По вкусу</string>
			<key>8</key>
			<string>40 г</string>
		</dict>
		<key>imgs</key>
		<array>
			<string>1_2_100.jpg</string>
			<string>1_2_1.jpg</string>
			<string>1_2_2.jpg</string>
			<string>1_2_3.jpg</string>
			<string>1_2_4.jpg</string>
			<string>1_2_5.jpg</string>
			<string>1_2_6.jpg</string>
			<string>1_2_7.jpg</string>
			<string></string>
			<string>2-фитучини.png</string>
		</array>
		<key>manufacturer</key>
		<string>Our chief</string>
		<key>name</key>
		<string>Домашние феттучини с белыми грибами</string>
		<key>persons</key>
		<string>на 4 персоны</string>
		<key>steps</key>
		<array>
			<string>Замесить тесто: разбить яйца и перемешать с мукой до образования однородной массы.</string>
			<string>Тесто закрыть пленкой и поставить в холодильник на 30 минут.</string>
			<string>Разделить тесто на три равные части и раскатать скалкой или на машинке для домашней пасты до толщины 1.5 мм. Подсушить листы с обеих сторон.</string>
			<string>Получившиеся листы теста осторожно накрутить на скалку, предварительно посыпав мукой. Снять рулон теста со скалки  и нарезать длинные полоски шириной 2 см. Использовать самую широкую насадку на машинке для домашней пасты.</string>
			<string>Нарезать белые грибы и лук шалот крупной соломкой и обжарить на оливковом масле до золотистого цвета.  Добавить сливки и розмарин, тушить на медленном огне до густоты.</string>
			<string>В кипящей соленой воде отварить феттучини в течение 3 минут до состояния аль денте, что в переводе с итальянского означает «на зубок». Смешать пасту с соусом и перемешать.  </string>
			<string>Выложить пасту на тарелку и добавить натертый пармезан,  для большего аромата добавить свежемолотый черный перец.</string>
		</array>
	</dict>
	<key>3</key>
	<dict>
		<key>ingredsPhoto</key>
		<string>1_3_ingreds.jpg</string>
		<key>ingreds_order</key>
		<array>
			<integer>16</integer>
			<integer>17</integer>
			<integer>18</integer>
			<integer>19</integer>
			<integer>20</integer>
			<integer>21</integer>
			<integer>15</integer>
			<integer>22</integer>
			<string>6</string>
			<string>7</string>
			<string>8</string>
		</array>
		<key>ingredients</key>
		<dict>
			<key>16</key>
			<string>1 кг</string>
			<key>17</key>
			<string>250 мл</string>
			<key>18</key>
			<string>250 мл</string>
			<key>19</key>
			<string>100 г</string>
			<key>20</key>
			<string>400 г</string>
			<key>21</key>
			<string>1 веточка</string>
			<key>15</key>
			<string>1 веточка</string>
			<key>22</key>
			<string>20 г</string>
			<key>6</key>
			<string>по вкусу</string>
			<key>7</key>
			<string>по вкусу</string>
			<key>8</key>
			<string>20 г</string>
		</dict>
		<key>imgs</key>
		<array>
			<string>1_3_100.jpg</string>
			<string>1_3_1.jpg</string>
			<string>1_3_2.jpg</string>
			<string>1_3_3.jpg</string>
			<string>1_3_4.jpg</string>
			<string>1_3_5.jpg</string>
			<string>1_3_6.jpg</string>
			<string>1_3_7.jpg</string>
			<string></string>
			<string>3-мясо.png</string>
		</array>
		<key>manufacturer</key>
		<string>Our chief</string>
		<key>name</key>
		<string>Филе говядины с бальзамической карамелью  и румяным картофелем</string>
		<key>persons</key>
		<string>на 4 персоны</string>
		<key>steps</key>
		<array>
			<string>Нарезать очищенный картофель тонкими ломтиками толщиной 5 мм.</string>
			<string>Разрезать 1 кг филе говядины на четыре кусочка, посолить и поперчить свежемолотым перцем.</string>
			<string>Обжарить ломтики картофеля с одной стороны на раскаленной сковороде с антипригарным покрытием в небольшом количестве оливкового  и сливочного масла.</string>
			<string>Перевернуть ломтики на другую сторону и на эту же сковородку выкладываем  мясо, тимьян и розмарин. Обжариваем мясо с двух сторон на сильном огне для образования корочки, которая сохранит сок внутри. Для прожарки medium жарим 5 минут на среднем огне.</string>
			<string>Выложить картофель на тарелку для того, чтобы приготовить соус. </string>
			<string>В эту же сковороду добавить тростниковый сахар и довести до состояния карамели, в которой пару минут обжарить мясо на тихом огне.</string>
			<string>После чего, в карамель добавляем красное вино и бальзамический уксус. И выпариваем соус до консистенции меда, а мясо периодически переворачиваем в соусе. Выложить мясо на тарелку с картофелем. </string>
		</array>
	</dict>
	<key>4</key>
	<dict>
		<key>ingredsPhoto</key>
		<string>1_4_ingreds.jpg</string>
		<key>ingreds_order</key>
		<array>
			<integer>11</integer>
			<integer>23</integer>
			<integer>10</integer>
			<integer>24</integer>
			<integer>25</integer>
			<integer>26</integer>
		</array>
		<key>ingredients</key>
		<dict>
			<key>11</key>
			<string>500 мл</string>
			<key>23</key>
			<string>10 столовых ложек</string>
			<key>10</key>
			<string>4 шт</string>
			<key>24</key>
			<string>300 г</string>
			<key>25</key>
			<string>2 стручка</string>
			<key>26</key>
			<string>300 г</string>
		</dict>
		<key>imgs</key>
		<array>
			<string>1_4_100.jpg</string>
			<string>1_4_1.jpg</string>
			<string>1_4_2.jpg</string>
			<string>1_4_3.jpg</string>
			<string>1_4_4.jpg</string>
			<string>1_4_5.jpg</string>
			<string>1_4_6.jpg</string>
			<string>1_4_7.jpg</string>
			<string></string>
			<string>4-семифредо.png</string>
		</array>
		<key>manufacturer</key>
		<string>Our chief</string>
		<key>name</key>
		<string>Семифредо с миндалем</string>
		<key>persons</key>
		<string>на 4 персоны</string>
		<key>steps</key>
		<array>
			<string>Для приготовления карамели: на холодную сковородку насыпать 300 г сахара, и на медленном огне расплавить сахар до карамели светло-коричневого цвета. Добавить миндаль в карамель, тщательно перемешать и вылить на противень, смазанный сливочным маслом.</string>
			<string>Холодные казинаки размельчить скалкой, оставляя целыми половинки миндаля.</string>
			<string>В глубокой чашке от миксера взбить яйца и сахар до густой пены, добавить маленькие семена из стручков ванили.</string>
			<string>Перелить взбитую пену в другую чашку, и взбить миксером сливки до густоты.</string>
			<string>Взбитые сливки соединить со взбитой яичной пеной и тщательно перемешать. Высыпать половину карамельного миндаля.</string>
			<string>Выложить получившийся мусс в форму и посыпать оставшимся миндалем. Оставить в морозилке на 3 часа.</string>
			<string>Чтобы достать семифредо из формы, необходимо дно формы несколько раз опустить в кастрюлю с горячей водой. </string>
		</array>
	</dict>
	<key>5</key>
	<dict>
		<key>ingredsPhoto</key>
		<string>2_1_ingreds.jpg</string>
		<key>ingreds_order</key>
		<array>
			<integer>27</integer>
			<integer>28</integer>
			<integer>29</integer>
			<integer>4</integer>
			<integer>30</integer>
			<integer>5</integer>
			<integer>31</integer>
			<integer>32</integer>
			<string>6</string>
			<string>7</string>
			<string>8</string>
		</array>
		<key>ingredients</key>
		<dict>
			<key>27</key>
			<string>1000 г</string>
			<key>28</key>
			<string>500 г</string>
			<key>29</key>
			<string>100 г</string>
			<key>4</key>
			<string>100 г</string>
			<key>30</key>
			<string>100 г</string>
			<key>5</key>
			<string>500 г</string>
			<key>31</key>
			<string>1 шт</string>
			<key>32</key>
			<string>2 зубчика</string>
			<key>6</key>
			<string>По вкусу</string>
			<key>7</key>
			<string>По вкусу</string>
			<key>8</key>
			<string>40 г</string>
		</dict>
		<key>imgs</key>
		<array>
			<string>2_1_100.jpg</string>
			<string>2_1_1.jpg</string>
			<string>2_1_2.jpg</string>
			<string>2_1_3.jpg</string>
			<string>2_1_4.jpg</string>
			<string>2_1_5.jpg</string>
			<string>2_1_6.jpg</string>
			<string>2_1_7.jpg</string>
			<string></string>
			<string>1-ось.png</string>
		</array>
		<key>manufacturer</key>
		<string>Our chief</string>
		<key>name</key>
		<string>Салат с осьминогом и картофелем</string>
		<key>persons</key>
		<string>на 4 персоны</string>
		<key>steps</key>
		<array>
			<string>Отварить осьминога в  соленой воде с половинкой лимона из расчета 1 час на 1 кг. Очистить картофель и нарезать крупными кубиками. Отварить кубики в соленой воде.</string>
			<string>Нарезать все помидоры черри на четвертинки. Проверить готовность осьминога можно, проткнув его ножом, как картофель, или попробовать кусочек.</string>
			<string>Вареного осьминога необходимого промыть холодной водой и очистить от кожи, обязательно убрать «клюв». Нарезать всего осьминога кусочками, включая голову.</string>
			<string>В миску выложить картофель, осьминога и помидоры, посолить и поперчить свежемолотым черным перцем. </string>
			<string>Зеленый базилик нарвать руками прямо в миску, чтобы было больше аромата.</string>
			<string>В миску выжать лимонный сок и полить оливковым маслом, тщательно перемешать.</string>
			<string>На тарелку выложить рукколу, шпинат и остальные ингредиенты.</string>
		</array>
	</dict>
	<key>6</key>
	<dict>
		<key>ingredsPhoto</key>
		<string>2_2_ingreds.jpg</string>
		<key>ingreds_order</key>
		<array>
			<integer>1</integer>
			<integer>33</integer>
			<integer>9</integer>
			<integer>10</integer>
			<integer>34</integer>
			<integer>35</integer>
			<integer>36</integer>
			<integer>5</integer>
			<string>37</string>
			<string>38</string>
			<string>32</string>
			<string>21</string>
			<string>6</string>
			<string>7</string>
			<string>8</string>
		</array>
		<key>ingredients</key>
		<dict>
			<key>1</key>
			<string>500 г</string>
			<key>33</key>
			<string>500 г</string>
			<key>9</key>
			<string>200 г</string>
			<key>10</key>
			<string>2 шт</string>
			<key>34</key>
			<string>щепотка</string>
			<key>35</key>
			<string>100 г</string>
			<key>36</key>
			<string>2 бокала</string>
			<key>5</key>
			<string>300 г</string>
			<key>37</key>
			<string>1 шт</string>
			<key>38</key>
			<string>4 шт</string>
			<key>32</key>
			<string>2 зубчика</string>
			<key>21</key>
			<string>4 веточки</string>
			<key>6</key>
			<string>По вкусу</string>
			<key>7</key>
			<string>По вкусу</string>
			<key>8</key>
			<string>40 г</string>
		</dict>
		<key>imgs</key>
		<array>
			<string>2_2_100.jpg</string>
			<string>2_2_1.jpg</string>
			<string>2_2_2.jpg</string>
			<string>2_2_3.jpg</string>
			<string>2_2_4.jpg</string>
			<string>2_2_5.jpg</string>
			<string>2_2_6.jpg</string>
			<string>2_2_7.jpg</string>
			<string></string>
			<string>2-ньекки.png</string>
		</array>
		<key>manufacturer</key>
		<string>Our chief</string>
		<key>name</key>
		<string>Ньекки с цукини и креветками</string>
		<key>persons</key>
		<string>на 4 персоны</string>
		<key>steps</key>
		<array>
			<string>Отварить картофель в мундире, очистить, сделать пюре.  Яйца, муку, мускатный орех, пармезан и картофельное пюре замесить, как тесто, до однородной массы. </string>
			<string>Разделить тесто на 4 одинаковых куска, и раскатать скалкой высотой 2 см, затем разрезать их пополам, чтобы получились длинные колбаски.  В большом количестве муки, нарезать колбаски на биточки шириной 2 см.</string>
			<string>Вилкой придать классическую форму «Ньекки»: закрутить биточки на зубцах вилки, как бы прокатывая их по ним.</string>
			<string>Нарезать все овощи: цукини соломкой, помидоры на четвертинки, спаржу кольцами, лук и чеснок тонкими полукольцами.</string>
			<string>На разогретой сковороде с оливковым маслом одновременно обжарить креветки, все овощи с веточкой тимьяна, посолить   и для большего аромата добавить свежемолотый черный перец. Добавить  белое вино.</string>
			<string>Отварить ньекки в соленой кипящей воде до тех пор, пока они не всплывут. Слить воду через дуршлаг. И выложить ньекки в сковороду с соусом и готовить еще 2 мин, для того, чтобы ньекки пропитались соусом.</string>
			<string>На тарелку выложить нькки с соусом и при желании добавить пармезан и черный перец. </string>
		</array>
	</dict>
	<key>7</key>
	<dict>
		<key>ingredsPhoto</key>
		<string>2_3_ingreds.jpg</string>
		<key>ingreds_order</key>
		<array>
			<integer>39</integer>
			<integer>40</integer>
			<integer>41</integer>
			<integer>42</integer>
			<integer>28</integer>
			<integer>37</integer>
			<integer>43</integer>
			<integer>44</integer>
			<string>38</string>
			<string>31</string>
			<string>15</string>
			<string>21</string>
			<string>32</string>
			<string>6</string>
			<string>7</string>
			<string>8</string>
		</array>
		<key>ingredients</key>
		<dict>
			<key>39</key>
			<string>2 шт по 600-800 г</string>
			<key>40</key>
			<string>1 шт</string>
			<key>41</key>
			<string>1 шт</string>
			<key>42</key>
			<string>1 шт</string>
			<key>28</key>
			<string>2 шт</string>
			<key>37</key>
			<string>1 шт</string>
			<key>43</key>
			<string>1 шт</string>
			<key>44</key>
			<string>1 шт</string>
			<key>38</key>
			<string>4 шт</string>
			<key>31</key>
			<string>2 шт</string>
			<key>15</key>
			<string>2 веточки</string>
			<key>21</key>
			<string>4 веточки</string>
			<key>32</key>
			<string>1 головка</string>
			<key>6</key>
			<string>По вкусу</string>
			<key>7</key>
			<string>По вкусу</string>
			<key>8</key>
			<string>40 г</string>
		</dict>
		<key>imgs</key>
		<array>
			<string>2_3_100.jpg</string>
			<string>2_3_1.jpg</string>
			<string>2_3_2.jpg</string>
			<string>2_3_3.jpg</string>
			<string>2_3_4.jpg</string>
			<string>2_3_5.jpg</string>
			<string>2_3_6.jpg</string>
			<string>2_3_7.jpg</string>
			<string></string>
			<string>3-дорадо.png</string>
		</array>
		<key>manufacturer</key>
		<string>Our chief</string>
		<key>name</key>
		<string>Запеченная дорадо с овощами по-деревенски</string>
		<key>persons</key>
		<string>на 4 персоны</string>
		<key>steps</key>
		<array>
			<string>Картофель почистить и нарезать тонкими кружочками. Перцы, цукини и баклажаны нарезать кубиками, причем цукини и баклажаны не надо очищать от кожуры.</string>
			<string>Рыбу почистить:  удалить жабры, чешую оставить, чтобы сохранить сок при запекания. От хвоста до головы вдоль брюха сделать надрез и удалить внутренности. </string>
			<string>Промыть тщательно под  холодной водой и  обсушить бумажным полотенцем. Очень важно, чтобы не осталось крови, так как она придаст рыбе горечь.</string>
			<string>Посолить, поперчить снаружи и внутри, полить оливковым маслом. Целую головку чеснока порезать поперек и вместе с розмарином и тимьяном уложить в рыбу. И выложить на противень.</string>
			<string>Все овощи посолить и поперчить свежемолотым черным перцем, полить оливковым маслом, и затем равномерно выложить на противень вместе с рыбой.</string>
			<string>Поставить в разогретую духовку на  200°С на 20 минут. Проверить готовность рыбы можно, отделив спинной плавник, если он легко отходит, значит, рыба готова.</string>
			<string>Готовую рыбу необходимо очистить от кожицы с чешуей. Выложить на тарелку филе дорадо и овощи, полить оливковым маслом.</string>
		</array>
	</dict>
	<key>8</key>
	<dict>
		<key>ingredsPhoto</key>
		<string>2_4_ingreds.jpg</string>
		<key>ingreds_order</key>
		<array>
			<integer>45</integer>
			<integer>11</integer>
			<integer>10</integer>
			<integer>46</integer>
			<integer>47</integer>
			<integer>48</integer>
		</array>
		<key>ingredients</key>
		<dict>
			<key>45</key>
			<string>400 г</string>
			<key>11</key>
			<string>0.5 л</string>
			<key>10</key>
			<string>4 шт</string>
			<key>46</key>
			<string>3 пластинки</string>
			<key>47</key>
			<string>500 г</string>
			<key>48</key>
			<string>Для украшения</string>
		</dict>
		<key>imgs</key>
		<array>
			<string>2_4_100.jpg</string>
			<string>2_4_1.jpg</string>
			<string>2_4_2.jpg</string>
			<string>2_4_3.jpg</string>
			<string>2_4_4.jpg</string>
			<string>2_4_5.jpg</string>
			<string>2_4_6.jpg</string>
			<string>2_4_7.jpg</string>
			<string></string>
			<string>4-мусс.png</string>
		</array>
		<key>manufacturer</key>
		<string>Izekelle Barbuto</string>
		<key>name</key>
		<string>Лимонный мусс с клубничным соусом</string>
		<key>persons</key>
		<string>на 4 персоны</string>
		<key>steps</key>
		<array>
			<string>С помощью терки натереть цедру с одного лимона.</string>
			<string>Сделать лимонный сок на соковыжималке для цитрусовых.</string>
			<string>Отделить белки от желтков, и вылить белки в чашку для миксера.</string>
			<string>Взбить белки с сахаром (300 г) до густой пены.</string>
			<string>Отдельно взбить сливки и соединить вместе с соком лимона, цедрой и белковой пеной. Тщательно перемешать.</string>
			<string>Размочить пластинки желатина в холодной воде в течение 10 минут. Когда пластинки размякнут, растопить их на теплой сковородке с 1 рюмкой воды на медленном огне. Налить в чашку с муссом, тщательно перемешать, переложить в керамическую чашку и убрать в холодильник на 3 часа.</string>
			<string>Промыть и очистить клубнику. Взбить в блендере с сахаром (100 г ). </string>
		</array>
	</dict>
	<key>9</key>
	<dict>
		<key>ingredsPhoto</key>
		<string>3_1_ingreds.jpg</string>
		<key>ingreds_order</key>
		<array>
			<integer>39</integer>
			<integer>3</integer>
			<integer>5</integer>
			<integer>47</integer>
			<integer>31</integer>
			<integer>30</integer>
			<integer>6</integer>
			<integer>7</integer>
			<integer>8</integer>
		</array>
		<key>ingredients</key>
		<dict>
			<key>39</key>
			<string>2 шт по 600-800 г</string>
			<key>3</key>
			<string>1 стебель</string>
			<key>5</key>
			<string>150 г</string>
			<key>47</key>
			<string>200 г</string>
			<key>31</key>
			<string>1 шт</string>
			<key>30</key>
			<string>2 веточки</string>
			<key>6</key>
			<string>По вкусу</string>
			<key>7</key>
			<string>По вкусу</string>
			<key>8</key>
			<string>40 г</string>
		</dict>
		<key>imgs</key>
		<array>
			<string>3_1_100.jpg</string>
			<string>3_1_1.jpg</string>
			<string>3_1_2.jpg</string>
			<string>3_1_3.jpg</string>
			<string>3_1_4.jpg</string>
			<string>3_1_5.jpg</string>
			<string>3_1_6.jpg</string>
			<string>3_1_7.jpg</string>
			<string></string>
			<string>Karpacho_2screen.png</string>
		</array>
		<key>manufacturer</key>
		<string>Izekelle Barbuto</string>
		<key>name</key>
		<string>Карпаччо из дорадо</string>
		<key>persons</key>
		<string>на 4 персоны</string>
		<key>steps</key>
		<array>
			<string>Рыбу почистить:  удалить жабры, чешую. От хвоста до головы вдоль брюха сделать надрез и удалить внутренности. Промыть тщательно под  холодной водой и  обсушить бумажным полотенцем. Очень важно, чтобы не осталось крови, так как она придаст рыбе горечь. Отделить филе параллельно позвоночнику с двух сторон. Ножом отделить филе от кожицы.</string>
			<string>Нарезать филе дорадо тонкими «лепестками» острым ножом.</string>
			<string>На тарелку по кругу выложить  «лепестки» дорадо, полностью заполняя пространство круга рыбой.</string>
			<string>Посолить, поперчить, полить лимонным соком, полить оливковым маслом.</string>
			<string>В конце необходимо нарезать помидоры и клубнику на четвертинки, чтобы они сохранили свежесть. Фенхель очистить  от верхних листьев и нарезать мелкими ломтиками.</string>
			<string>Выложить на карпаччо овощи. Посолить и поперчить черным перцем.</string>
			<string>Перед тем, как подать на стол, полить оливковым маслом и украсить веточкой базилика.</string>
		</array>
	</dict>
	<key>10</key>
	<dict>
		<key>ingredsPhoto</key>
		<string>3_2_ingreds.jpg</string>
		<key>ingreds_order</key>
		<array>
			<integer>9</integer>
			<integer>10</integer>
			<integer>49</integer>
			<integer>50</integer>
			<integer>14</integer>
			<integer>32</integer>
			<integer>30</integer>
			<integer>6</integer>
			<integer>7</integer>
			<integer>8</integer>
		</array>
		<key>ingredients</key>
		<dict>
			<key>9</key>
			<string>400 г</string>
			<key>10</key>
			<string>4 шт</string>
			<key>49</key>
			<string>2 шт</string>
			<key>50</key>
			<string>600 г</string>
			<key>14</key>
			<string>1 шт</string>
			<key>32</key>
			<string>1 зубчик</string>
			<key>30</key>
			<string>50 г</string>
			<key>6</key>
			<string>По вкусу</string>
			<key>7</key>
			<string>По вкусу</string>
			<key>8</key>
			<string>40 г</string>
		</dict>
		<key>imgs</key>
		<array>
			<string>3_2_100.jpg</string>
			<string>3_2_1.jpg</string>
			<string>3_2_2.jpg</string>
			<string>3_2_3.jpg</string>
			<string>3_2_4.jpg</string>
			<string>3_2_5.jpg</string>
			<string>3_2_6.jpg</string>
			<string>3_2_7.jpg</string>
			<string></string>
			<string>domashnie_spagett_2screeni.png</string>
		</array>
		<key>manufacturer</key>
		<string>Izekelle Barbuto</string>
		<key>name</key>
		<string>Домашние спагетти алла неаполитана с моцарелой ди буффало</string>
		<key>persons</key>
		<string>на 4 персоны</string>
		<key>steps</key>
		<array>
			<string>Замесить тесто: разбить яйца и перемешать с мукой до образования однородной массы. Тесто закрыть пленкой и поставить в холодильник на 30 минут. Разделить тесто на три равные части и раскатать скалкой или на машинке для домашней пасты до толщины 1.5 мм. Подсушить листы с обеих сторон.</string>
			<string>Получившиеся листы теста осторожно накрутить на скалку, предварительно посыпав мукой. Снять рулон теста со скалки  и нарезать длинные тонкие полоски. Использовать  насадку для спагетти на машинке для домашней пасты. Подсушить спагетти в небольшом количестве муки.</string>
			<string>Нарезать лук шалот соломкой и обжарить на оливковом масле до золотистого цвета с целым зубчиком чеснока в шелухе, предварительно раздавив его. Добавить очищенные помидоры.</string>
			<string>Очищенные помидоры размельчить вилкой. Солить соус надо в самом конце, когда уже выпарилась вся лишняя жидкость.</string>
			<string>Руками порвать базилик на кусочки, чтобы он не почернел и отдал блюду больше вкуса, и добавить в соус.</string>
			<string>В кипящей соленой воде отварить домашние спагетти в течение 3 минут до состояния аль денте, что в переводе с итальянского  означает «на зубок».  Покупные спагетти варить, как указано на упаковке.</string>
			<string>Смешать пасту с соусом, выложить на тарелку и поверх пасты уложить моцареллу. </string>
		</array>
	</dict>
	<key>11</key>
	<dict>
		<key>ingredsPhoto</key>
		<string>3_3_ingreds.jpg</string>
		<key>ingreds_order</key>
		<array>
			<integer>51</integer>
			<integer>5</integer>
			<integer>36</integer>
			<integer>52</integer>
			<integer>53</integer>
			<integer>32</integer>
			<string>21</string>
			<string>6</string>
			<string>7</string>
			<string>8</string>
		</array>
		<key>ingredients</key>
		<dict>
			<key>51</key>
			<string>500 г</string>
			<key>5</key>
			<string>300 г</string>
			<key>36</key>
			<string>250 мл</string>
			<key>52</key>
			<string>20 г</string>
			<key>53</key>
			<string>50 г</string>
			<key>32</key>
			<string>1 зубчик</string>
			<key>21</key>
			<string>1 веточка</string>
			<key>6</key>
			<string>По вкусу</string>
			<key>7</key>
			<string>По вкусу</string>
			<key>8</key>
			<string>40 г</string>
		</dict>
		<key>imgs</key>
		<array>
			<string>3_3_100.jpg</string>
			<string>3_3_1.jpg</string>
			<string>3_3_2.jpg</string>
			<string>3_3_3.jpg</string>
			<string>3_3_4.jpg</string>
			<string>3_3_5.jpg</string>
			<string>3_3_6.jpg</string>
			<string>3_3_7.jpg</string>
			<string></string>
			<string>Tunez_2screen.png</string>
		</array>
		<key>manufacturer</key>
		<string>Izekelle Barbuto</string>
		<key>name</key>
		<string>Тунец по-сицилийски </string>
		<key>persons</key>
		<string>на 4 персоны</string>
		<key>steps</key>
		<array>
			<string>Филе тунца промыть и просушить бумажным полотенцем. Посолить и поперчить свежемолотым черным перцем.</string>
			<string>Обжарить тунец на оливковом масле на сильном огне до румяной корочки, при этом в середине тунец должен остаться розового цвета. </string>
			<string>Выложить тунец на тарелку, чтобы теперь приготовить соус.  Слить масло со сковородки, одновременно  обжарить помидоры черри, каперсы и анчоусы в маленьком  количестве оливкового масла.</string>
			<string>Слегка обжарив, добавить белого вина.</string>
			<string>Обратно положить тунец в сковороду с соусом и потушить пару минут. </string>
			<string>Нарезать филе тунца ломтиками средней толщины, из расчета – 3 кусочка на человека.</string>
			<string>На тарелку выложить соус и поверх него кусочки тунца. Украсить веточкой тимьяна.</string>
		</array>
	</dict>
	<key>12</key>
	<dict>
		<key>ingredsPhoto</key>
		<string>3_4_ingreds.jpg</string>
		<key>ingreds_order</key>
		<array>
			<integer>54</integer>
			<integer>55</integer>
			<integer>10</integer>
			<integer>56</integer>
			<integer>45</integer>
		</array>
		<key>ingredients</key>
		<dict>
			<key>54</key>
			<string>1 уп на 500 мл</string>
			<key>55</key>
			<string>2 шт на человека</string>
			<key>10</key>
			<string>3 шт</string>
			<key>56</key>
			<string>200 мл</string>
			<key>45</key>
			<string>100 г</string>
		</dict>
		<key>imgs</key>
		<array>
			<string>3_4_100.jpg</string>
			<string>3_4_1.jpg</string>
			<string>3_4_2.jpg</string>
			<string>3_4_3.jpg</string>
			<string>3_4_4.jpg</string>
			<string>3_4_5.jpg</string>
			<string>3_4_6.jpg</string>
			<string>3_4_7.jpg</string>
			<string></string>
			<string>classico_tiramissu_2screen.png</string>
		</array>
		<key>manufacturer</key>
		<string>Izekelle Barbuto</string>
		<key>name</key>
		<string>Тирамису classico</string>
		<key>persons</key>
		<string>на 4 персоны</string>
		<key>steps</key>
		<array>
			<string>Отделить белки от желтков и взбить миксером желтки с сахаром до густой пены.</string>
			<string>Добавить маскарпоне и взбивать в медленном режиме около 2-3 минут. Следить, чтобы масса не нагрелась.</string>
			<string>Взбитый  густой белок соединить с кремом и осторожно перемешать вручную.</string>
			<string>Теплый или горячий кофе налить в удобную миску и промокнуть в ней печенье савоярди по очереди. Поскольку печенье сухое, то оно очень быстро впитывает кофе, а значит надо следить за тем, чтобы оно не размякло.</string>
			<string>В бокал или креманку выкладываем одну  ложку крема на каждый слой  печенья.</string>
			<string>И снова выкладываем крем и печенье слоями до самого верха, и выравниваем  верхний слой ножом.</string>
			<string>Посыпаем какао верхний слой крема, ставим в холодильник на несколько часов, закрыв пищевой пленкой.</string>
		</array>
	</dict>
</dict>
</plist>
